header {
  text-align: center;
  font-size: 50px;
  font-family: arial;
}

#container {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#play {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#object {
  text-align: center;
  font-size: 50px;
  color: white;
  display: none;
  background-image: url("http://images.rapgenius.com/e2e171799293dcad7144ea4bd81477b6.550x303x23.gif");
  font-family: Arial;
  opacity: 0.9;
  width: 50%;
  height:65%;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#yourTurn {
  display: none;
  text-align:center;
  font-size: 50px;
  font-family: Arial;
  color: black;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#youWin {
  text-align: center;
  font-size: 50px;
  color: white;
  display: none;
  background-image: url("http://i.kinja-img.com/gawker-media/image/upload/s--YRw3gF7f--/csyyqoofz2n1v031ubc0.gif");
  font-family: Arial;
  width: 50%;
  height:65%;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

p {
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
 }


.squaresGreen {
  height: 200px;
  width: 200px;
  background-color: green;
  border-top-left-radius: 400px;
}

.glowGreen {
  height: 200px;
  width: 200px;
  background-color: #6FFF00;
  border-top-left-radius: 400px;
  box-shadow: 0px 0px 29px 12px;
}

.squaresRed {
  height: 200px;
  width: 200px;
  background-color: red;
  border-top-right-radius: 400px;
}

.glowRed {
  height: 200px;
  width: 200px;
  background-color: #FF5333;
  border-top-right-radius: 400px;
  box-shadow: 0px 0px 29px 12px;
}

.squaresBlue {
  height: 200px;
  width: 200px;
  background-color: blue;
  border-bottom-right-radius: 400px;

}

.glowBlue {
  height: 200px;
  width: 200px;
  background-color: #4D4DFF;
  border-bottom-right-radius: 400px;
  box-shadow: 0px 0px 29px 12px;
}

.squaresYellow {
  height: 200px;
  width: 200px;
  background-color: yellow;
  border-bottom-left-radius: 400px;
}

.glowYellow {
  height: 200px;
  width: 200px;
  background-color: #EBEB00;
  border-bottom-left-radius: 400px;
  box-shadow: 0px 0px 29px 12px;
}

#container > table td {
  cursor: pointer;
}

#otis {
    list-style-type: none;
    font-family: Arial;
}

