header {
  text-align: center;
  font-size: 50px;
}

#container {
  display: flex;
  justify-content: space-around;
}


.squaresGreen {
  height: 200px;
  width: 200px;
  background-color: green;
  border-top-left-radius: 400px;
}

.glowGreen {
  height: 200px;
  width: 200px;
  background-color: #66CD00;
  border-top-left-radius: 400px;
  box-shadow: 0px 0px 29px 12px;
}

.squaresRed {
  height: 200px;
  width: 200px;
  background-color: red;
  border-top-right-radius: 400px;
}

.glowRed {
  height: 200px;
  width: 200px;
  background-color: #eb4661;
  border-top-right-radius: 400px;
  box-shadow: 0px 0px 29px 12px;
}

.squaresBlue {
  height: 200px;
  width: 200px;
  background-color: blue;
  border-bottom-right-radius: 400px;

}

.glowBlue {
  height: 200px;
  width: 200px;
  background-color: #00BFFF;
  border-bottom-right-radius: 400px;
  box-shadow: 0px 0px 29px 12px;
}

.squaresYellow {
  height: 200px;
  width: 200px;
  background-color: yellow;
  border-bottom-left-radius: 400px;
}

.glowYellow {
  height: 200px;
  width: 200px;
  background-color: gold;
  border-bottom-left-radius: 400px;
  box-shadow: 0px 0px 29px 12px;
}





